.container-movie-app{
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
	flex-wrap: nowrap;
}

.row-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

body {
	background: #141414;
	color: #ffffff;
}

.container-movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}